/* Mobile First*/

body {
    text-align: center;
    padding: 20px;
    background-image: url(images/neuron-fluoro-red.jpeg);
    background-size: cover;
    color: #f6f7fa;
}

main {
    font-family: Roboto, 'Open Sans', Helvetica, sans-serif;
}

h1 {
    color: #f6f7fa;
    background-color: black;
    padding: 25px 5px;
    margin-right: 5px;
    margin-left: 5px;
}

h1, h2, h3, h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.welcome, .finished {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}

form {
    background-color: black;
    text-align: left;
    margin: 20px 10px;
    border-radius: 10px;
    padding: 25px 10px;
}

legend {
    border-radius: 8px;
    background-color: #754848;
    padding: 8px;
    margin: 5px;
}

fieldset {
    border: none;
}

input {
    margin-bottom: 8px;
    margin-left: 10px;
}

button.start-quiz, button.restart-quiz {
    height: 75px;
    width: 150px;
    border-radius: 10px;
}

form button {
    margin-left: 35%;
}


p.incorrect {
    color: red;
}
  
p.correct {
    color: green;
}

.progress {
    background-color: black;
    margin: 20px 10px;
    border-radius: 10px;
    padding: 25px 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}



/* Desktop */

@media all and (min-width: 600px) {
    .group {
        flex-direction: row;
    }

    form button {
        margin-left: 45%;
    }

      input {
          margin-bottom: 15px;

    }

      h1 {
        margin-right: 20%;
        margin-left: 20%;
        padding: 30px 20px;
        border-radius: 20px;
    }

      form {
        margin: 20px 15%;
        font-size: larger;
        border-radius: 20px;
        padding: 30px 30px;
    }

      .welcome, .finished {
        margin: 20px 15%;
        font-size: larger;
        border-radius: 20px;
        padding: 30px 30px;
    }

      .progress {
        margin: 20px 15%;
        font-size: larger;
        border-radius: 20px;
        padding: 30px 30px; 
    }
}