body {
    text-align: center;
    padding: 20px;
    background-image: url(images/neuron-fluoro-red.jpeg);
    background-size: cover;
    color: #E8E9F3;
}

main {
    font-family: Roboto, 'Open Sans', Helvetica, sans-serif;
}

h1 {
    color: #E8E9F3;
    background-color: black;
    padding: 25px 5px;
    margin-right: 5px;
    margin-left: 5px;
}

h1, h2, h3, h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.welcome {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}

form {
    background-color: black;
    text-align: left;
    margin: 20px 5px;
    border-radius: 10px;
    padding: 25px 10px;
}

legend {
    border-radius: 8px;
    background-color: #B36A5E;
    padding: 8px;
    margin: 5px;
}

fieldset {
    border: none;
}

input {
    margin-bottom: 8px;
    margin-left: 10px;
}
  
button.submit-answer, button.next-question {
    margin-left: 35%;
}





/* Desktop */

@media all and (min-width: 600px) {
    .group {
        flex-direction: row;
    }

    button {
        margin-left: 45%;
      }

      h1 {
        margin-right: 20%;
        margin-left: 20%;
        padding: 30px 20px;
        border-radius: 20px;
      }

      form {
        margin: 15px 15px;
        color: #E8E9F3;
        border-radius: 20px;
        padding: 30px 30px;
      }
}