body {
    text-align: center;
    padding: 20px;
    background-image: url(images/neuron-fluoro-red.jpeg);
    color: #E8E9F3;
}

h1 {
    color: #E8E9F3;
}

h1, h2, h3, h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

form {
    background-color: #141435;
    text-align: left;
    margin: 20px 50px;
    color: #E8E9F3;
    border: none;
    padding: 10px;
}

legend {
    border-radius: 8px;
    background-color: #B36A5E;
    padding: 8px;
    margin: 5px;
}

fieldset {
    border: none;
}

input {
    margin-bottom: 8px;
    margin-left: 10px;
}
  
button.submit-answer, button.next-question {
    margin-left: 40%;
}





/* Desktop */
@media all and (min-width: 600px) {
    .group {
        flex-direction: row;
    }

    button.submit-answer, button.next-question {
        margin-left: 45%;
      }
}